<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<!-- Springbean config 파일로 자동 만듬  -->
	<!-- new 를 bean 태그로 만든다. -->
	<bean id="lotBean1" class="lottopkg.Lotto1" /> <!-- lotBean1이 객체  -->
</beans>
