<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<context:annotation-config/>
		<bean id="insaBean" class="insa.Insa"/>
		<bean id="insaBean2" class="insa.Insa"> <!-- 같은 타입이라 구분이 필요하다.  -->
			<qualifier value="koobeok"></qualifier>
		</bean>
</beans>
